---
const { id, title, description, placeholder } = Astro.props;
---

<section
    id={id}
    class="p-6 rounded-xl shadow-m col-12 col-lg-8 m-auto d-none prompt-cards"
>
    <h2 class="mb-2 text-white text-center">{title}</h2>
    <p class="mb-2 text-white text-center">{description}</p>
    <div class="d-flex gap-3 flex-column flex-md-row">
        <form class="ai-form d-flex flex-column col" data-section={id}>
            <textarea
                name="userInput"
                rows="10"
                placeholder={placeholder}
                class="p-2 border rounded"
                required></textarea>
            <button type="submit" class="px-4 py-2 rounded mt-2 ai-submit-btn">
                Generate
            </button>
        </form>
        <div class="response-output-container p-2 rounded col">
            <div class="text-end">
                <button id="copyOutput" class="view-modal">
                    <i class="fa-solid fa-copy"></i>
                </button>
            </div>
            <div id=`${id}-output` class="ai-output hidden"></div>
            <div class="copied">
                <p>COPIED</p>
            </div>
        </div>
    </div>
</section>
